In [1]:
import pandas as pd
df = pd.read_csv('customer_shopping_behavior.csv')

In [2]:
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [4]:
df.describe(include='all')

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
count,3900.000000,3900.000000,3900,3900,3900,3900.000000,3900,3900,3900,3900,3863.000000,3900,3900,3900,3900,3900.000000,3900,3900
unique,NaN,NaN,2,25,4,NaN,50,4,25,4,NaN,2,6,2,2,NaN,6,7
top,NaN,NaN,Male,Blouse,Clothing,NaN,Montana,M,Olive,Spring,NaN,No,Free Shipping,No,No,NaN,PayPal,Every 3 Months
freq,NaN,NaN,2652,171,1737,NaN,96,1755,177,999,NaN,2847,675,2223,2223,NaN,677,584
mean,1950.500000,44.068462,NaN,NaN,NaN,59.764359,NaN,NaN,NaN,NaN,3.750065,NaN,NaN,NaN,NaN,25.351538,NaN,NaN
std,1125.977353,15.207589,NaN,NaN,NaN,23.685392,NaN,NaN,NaN,NaN,0.716983,NaN,NaN,NaN,NaN,14.447125,NaN,NaN
min,1.000000,18.000000,NaN,NaN,NaN,20.000000,NaN,NaN,NaN,NaN,2.500000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
25%,975.750000,31.000000,NaN,NaN,NaN,39.000000,NaN,NaN,NaN,NaN,3.100000,NaN,NaN,NaN,NaN,13.000000,NaN,NaN
50%,1950.500000,44.000000,NaN,NaN,NaN,60.000000,NaN,NaN,NaN,NaN,3.800000,NaN,NaN,NaN,NaN,25.000000,NaN,NaN
75%,2925.250000,57.000000,NaN,NaN,NaN,81.000000,NaN,NaN,NaN,NaN,4.400000,NaN,NaN,NaN,NaN,38.000000,NaN,NaN
max,3900.000000,70.000000,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,50.000000,NaN,NaN

In [5]:
df.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [6]:
df['Review Rating'] = df.groupby('Category')['Review Rating'].transform(lambda x: x.fillna(x.median()))

In [7]:
df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [8]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace("",'_')

In [10]:
df.columns

Index(['_c_u_s_t_o_m_e_r_ _i_d_', '_a_g_e_', '_g_e_n_d_e_r_',
       '_i_t_e_m_ _p_u_r_c_h_a_s_e_d_', '_c_a_t_e_g_o_r_y_',
       '_p_u_r_c_h_a_s_e_ _a_m_o_u_n_t_ _(_u_s_d_)_', '_l_o_c_a_t_i_o_n_',
       '_s_i_z_e_', '_c_o_l_o_r_', '_s_e_a_s_o_n_',
       '_r_e_v_i_e_w_ _r_a_t_i_n_g_',
       '_s_u_b_s_c_r_i_p_t_i_o_n_ _s_t_a_t_u_s_',
       '_s_h_i_p_p_i_n_g_ _t_y_p_e_', '_d_i_s_c_o_u_n_t_ _a_p_p_l_i_e_d_',
       '_p_r_o_m_o_ _c_o_d_e_ _u_s_e_d_',
       '_p_r_e_v_i_o_u_s_ _p_u_r_c_h_a_s_e_s_',
       '_p_a_y_m_e_n_t_ _m_e_t_h_o_d_',
       '_f_r_e_q_u_e_n_c_y_ _o_f_ _p_u_r_c_h_a_s_e_s_'],
      dtype='object')

In [11]:
df.columns = df.columns.str.replace("_", "")
df.columns = df.columns.str.replace("  ", " ")  # clean double spaces

In [12]:
df.columns

Index(['customer id', 'age', 'gender', 'item purchased', 'category',
       'purchase amount (usd)', 'location', 'size', 'color', 'season',
       'review rating', 'subscription status', 'shipping type',
       'discount applied', 'promo code used', 'previous purchases',
       'payment method', 'frequency of purchases'],
      dtype='object')

In [13]:
df.columns = (
    df.columns
    .str.lower()
    .str.replace(' ', '_')
    .str.replace('(', '')
    .str.replace(')', '')
)

In [14]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount_usd', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [15]:
labels = ['Young Adult', 'Adult', 'Middle-aged', 'Senior']
df['age_group'] = pd.qcut(df['age'], q=4, labels = labels)

In [16]:
#create purchase frequency rate days

In [17]:
df[['age', 'age_group']].head(10)

   age    age_group
0   55  Middle-aged
1   19  Young Adult
2   50  Middle-aged
3   21  Young Adult
4   45  Middle-aged
5   46  Middle-aged
6   63       Senior
7   27  Young Adult
8   26  Young Adult
9   57  Middle-aged

In [19]:
frequency_mapping = {
    'Fortnightly': 14,
    'Weekly': 7,
    'Monthly': 30,
    'Quarterly': 90,
    'Bi-Weekly': 14,
    'Annually': 365,
    'Every 3 Months': 90,
}

df['purchase_frequency_days'] = df['frequency_of_purchases'].map(frequency_mapping)

In [20]:
df['purchase_frequency_days'] = df['frequency_of_purchases'].map(frequency_mapping)

In [21]:
df[['purchase_frequency_days','frequency_of_purchases']].head(10)

   purchase_frequency_days frequency_of_purchases
0                       14            Fortnightly
1                       14            Fortnightly
2                        7                 Weekly
3                        7                 Weekly
4                      365               Annually
5                        7                 Weekly
6                       90              Quarterly
7                        7                 Weekly
8                      365               Annually
9                       90              Quarterly

In [22]:
df[['discount_applied','promo_code_used']].head(10)

  discount_applied promo_code_used
0              Yes             Yes
1              Yes             Yes
2              Yes             Yes
3              Yes             Yes
4              Yes             Yes
5              Yes             Yes
6              Yes             Yes
7              Yes             Yes
8              Yes             Yes
9              Yes             Yes

In [24]:
(df['discount_applied'] == df['promo_code_used']).all()

True

In [25]:
df = df.drop('promo_code_used', axis=1)

In [26]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount_usd', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age_group', 'purchase_frequency_days'],
      dtype='object')

In [27]:
pip install sqlalchemy pymysql psycopg2 notebook

Requirement already satisfied: sqlalchemy in c:\users\anjum\anaconda3\lib\site-packages (2.0.34)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: pymysql in c:\users\anjum\anaconda3\lib\site-packages (1.1.2)
Requirement already satisfied: psycopg2 in c:\users\anjum\anaconda3\lib\site-packages (2.9.11)
Requirement already satisfied: notebook in c:\users\anjum\anaconda3\lib\site-packages (7.2.2)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\anjum\anaconda3\lib\site-packages (from sqlalchemy) (4.14.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\anjum\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Requirement already satisfied: jupyter-server<3,>=2.4.0 in c:\users\anjum\anaconda3\lib\site-packages (from notebook) (2.14.1)
Requirement already satisfied: jupyterlab-server<3,>=2.27.1 in c:\users\anjum\anaconda3\lib\site-packages (from notebook) (2.27.3)
Requirement already satisfied: jupyterlab<4.3,>=4.2.0 in c:\users\anjum\anaconda3\lib\site-packages (from notebook) (4.2.5)
Requirement already satisfied: notebook-shim<0.3,>=0.2 in c:\users\anjum\anaconda3\lib\site-packages (from notebook) (0.2.3)
Requirement already satisfied: tornado>=6.2.0 in c:\users\anjum\anaconda3\lib\site-packages (from notebook) (6.4.1)
Requirement already satisfied: anyio>=3.1.0 in c:\users\anjum\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook) (4.2.0)
Requirement already satisfied: argon2-cffi>=21.1 in c:\users\anjum\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook) (21.3.0)
Requirement already satisfied: jinja2>=3.0.3 in c:\users\anjum\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook) (3.1.4)
Requirement already satisfied: jupyter-client>=7.4.4 in c:\users\anjum\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook) (8.6.0)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in c:\users\anjum\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook) (5.7.2)
Requirement already satisfied: jupyter-events>=0.9.0 in c:\users\anjum\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook) (0.10.0)
Requirement already satisfied: jupyter-server-terminals>=0.4.4 in c:\users\anjum\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook) (0.4.4)
Requirement already satisfied: nbconvert>=6.4.4 in c:\users\anjum\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook) (7.16.4)
Requirement already satisfied: nbformat>=5.3.0 in c:\users\anjum\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook) (5.10.4)
Requirement already satisfied: overrides>=5.0 in c:\users\anjum\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook) (7.4.0)
Requirement already satisfied: packaging>=22.0 in c:\users\anjum\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook) (24.1)
Requirement already satisfied: prometheus-client>=0.9 in c:\users\anjum\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook) (0.14.1)
Requirement already satisfied: pywinpty>=2.0.1 in c:\users\anjum\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook) (2.0.10)
Requirement already satisfied: pyzmq>=24 in c:\users\anjum\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook) (25.1.2)
Requirement already satisfied: send2trash>=1.8.2 in c:\users\anjum\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook) (1.8.2)
Requirement already satisfied: terminado>=0.8.3 in c:\users\anjum\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook) (0.17.1)
Requirement already satisfied: traitlets>=5.6.0 in c:\users\anjum\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook) (5.14.3)
Requirement already satisfied: websocket-client>=1.7 in c:\users\anjum\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook) (1.8.0)
Requirement already satisfied: async-lru>=1.0.0 in c:\users\anjum\anaconda3\lib\site-packages (from jupyterlab<4.3,>=4.2.0->notebook) (2.0.4)
Requirement already satisfied: httpx>=0.25.0 in c:\users\anjum\anaconda3\lib\site-packages (from jupyterlab<4.3,>=4.2.0->notebook) (0.27.0)
Requirement already satisfied: ipykernel>=6.5.0 in c:\users\anjum\anaconda3\lib\site-packages (from jupyterlab<4.3,>=4.2.0->notebook) (6.28.0)
Requirement already satisfied: jupyter-lsp>=2.0.0 in c:\users\anjum\anaconda3\lib\site-packages (from jupyterlab<4.3,>=4.2.0->notebook) (2.2.0)
Requirement already satisfied: setuptools>=40.1.0 in c:\users\anjum\anaconda3\lib\site-packages (from jupyterlab<4.3,>=4.2.0->notebook) (75.1.0)
Requirement already satisfied: babel>=2.10 in c:\users\anjum\anaconda3\lib\site-packages (from jupyterlab-server<3,>=2.27.1->notebook) (2.11.0)
Requirement already satisfied: json5>=0.9.0 in c:\users\anjum\anaconda3\lib\site-packages (from jupyterlab-server<3,>=2.27.1->notebook) (0.9.6)
Requirement already satisfied: jsonschema>=4.18.0 in c:\users\anjum\anaconda3\lib\site-packages (from jupyterlab-server<3,>=2.27.1->notebook) (4.23.0)
Requirement already satisfied: requests>=2.31 in c:\users\anjum\anaconda3\lib\site-packages (from jupyterlab-server<3,>=2.27.1->notebook) (2.32.3)
Requirement already satisfied: idna>=2.8 in c:\users\anjum\anaconda3\lib\site-packages (from anyio>=3.1.0->jupyter-server<3,>=2.4.0->notebook) (3.7)
Requirement already satisfied: sniffio>=1.1 in c:\users\anjum\anaconda3\lib\site-packages (from anyio>=3.1.0->jupyter-server<3,>=2.4.0->notebook) (1.3.0)
Requirement already satisfied: argon2-cffi-bindings in c:\users\anjum\anaconda3\lib\site-packages (from argon2-cffi>=21.1->jupyter-server<3,>=2.4.0->notebook) (21.2.0)
Requirement already satisfied: pytz>=2015.7 in c:\users\anjum\anaconda3\lib\site-packages (from babel>=2.10->jupyterlab-server<3,>=2.27.1->notebook) (2024.1)
Requirement already satisfied: certifi in c:\users\anjum\anaconda3\lib\site-packages (from httpx>=0.25.0->jupyterlab<4.3,>=4.2.0->notebook) (2024.8.30)
Requirement already satisfied: httpcore==1.* in c:\users\anjum\anaconda3\lib\site-packages (from httpx>=0.25.0->jupyterlab<4.3,>=4.2.0->notebook) (1.0.2)
Requirement already satisfied: h11<0.15,>=0.13 in c:\users\anjum\anaconda3\lib\site-packages (from httpcore==1.*->httpx>=0.25.0->jupyterlab<4.3,>=4.2.0->notebook) (0.14.0)
Requirement already satisfied: comm>=0.1.1 in c:\users\anjum\anaconda3\lib\site-packages (from ipykernel>=6.5.0->jupyterlab<4.3,>=4.2.0->notebook) (0.2.1)
Requirement already satisfied: debugpy>=1.6.5 in c:\users\anjum\anaconda3\lib\site-packages (from ipykernel>=6.5.0->jupyterlab<4.3,>=4.2.0->notebook) (1.6.7)
Requirement already satisfied: ipython>=7.23.1 in c:\users\anjum\anaconda3\lib\site-packages (from ipykernel>=6.5.0->jupyterlab<4.3,>=4.2.0->notebook) (8.27.0)
Requirement already satisfied: matplotlib-inline>=0.1 in c:\users\anjum\anaconda3\lib\site-packages (from ipykernel>=6.5.0->jupyterlab<4.3,>=4.2.0->notebook) (0.1.6)
Requirement already satisfied: nest-asyncio in c:\users\anjum\anaconda3\lib\site-packages (from ipykernel>=6.5.0->jupyterlab<4.3,>=4.2.0->notebook) (1.6.0)
Requirement already satisfied: psutil in c:\users\anjum\anaconda3\lib\site-packages (from ipykernel>=6.5.0->jupyterlab<4.3,>=4.2.0->notebook) (5.9.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\anjum\anaconda3\lib\site-packages (from jinja2>=3.0.3->jupyter-server<3,>=2.4.0->notebook) (2.1.3)
Requirement already satisfied: attrs>=22.2.0 in c:\users\anjum\anaconda3\lib\site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->notebook) (23.1.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\anjum\anaconda3\lib\site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->notebook) (2023.7.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\anjum\anaconda3\lib\site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->notebook) (0.30.2)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\anjum\anaconda3\lib\site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->notebook) (0.10.6)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\anjum\anaconda3\lib\site-packages (from jupyter-client>=7.4.4->jupyter-server<3,>=2.4.0->notebook) (2.9.0.post0)
Requirement already satisfied: platformdirs>=2.5 in c:\users\anjum\anaconda3\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->jupyter-server<3,>=2.4.0->notebook) (3.10.0)
Requirement already satisfied: pywin32>=300 in c:\users\anjum\anaconda3\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->jupyter-server<3,>=2.4.0->notebook) (305.1)
Requirement already satisfied: python-json-logger>=2.0.4 in c:\users\anjum\anaconda3\lib\site-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->notebook) (2.0.7)
Requirement already satisfied: pyyaml>=5.3 in c:\users\anjum\anaconda3\lib\site-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->notebook) (6.0.1)
Requirement already satisfied: rfc3339-validator in c:\users\anjum\anaconda3\lib\site-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->notebook) (0.1.4)
Requirement already satisfied: rfc3986-validator>=0.1.1 in c:\users\anjum\anaconda3\lib\site-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->notebook) (0.1.1)
Requirement already satisfied: beautifulsoup4 in c:\users\anjum\anaconda3\lib\site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook) (4.12.3)
Requirement already satisfied: bleach!=5.0.0 in c:\users\anjum\anaconda3\lib\site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook) (4.1.0)
Requirement already satisfied: defusedxml in c:\users\anjum\anaconda3\lib\site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook) (0.7.1)
Requirement already satisfied: jupyterlab-pygments in c:\users\anjum\anaconda3\lib\site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook) (0.1.2)
Requirement already satisfied: mistune<4,>=2.0.3 in c:\users\anjum\anaconda3\lib\site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook) (2.0.4)
Requirement already satisfied: nbclient>=0.5.0 in c:\users\anjum\anaconda3\lib\site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook) (0.8.0)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\anjum\anaconda3\lib\site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook) (1.5.0)
Requirement already satisfied: pygments>=2.4.1 in c:\users\anjum\anaconda3\lib\site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook) (2.15.1)
Requirement already satisfied: tinycss2 in c:\users\anjum\anaconda3\lib\site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook) (1.2.1)
Requirement already satisfied: fastjsonschema>=2.15 in c:\users\anjum\anaconda3\lib\site-packages (from nbformat>=5.3.0->jupyter-server<3,>=2.4.0->notebook) (2.16.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\anjum\anaconda3\lib\site-packages (from requests>=2.31->jupyterlab-server<3,>=2.27.1->notebook) (3.3.2)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\anjum\anaconda3\lib\site-packages (from requests>=2.31->jupyterlab-server<3,>=2.27.1->notebook) (2.2.3)
Requirement already satisfied: six>=1.9.0 in c:\users\anjum\anaconda3\lib\site-packages (from bleach!=5.0.0->nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook) (1.16.0)
Requirement already satisfied: webencodings in c:\users\anjum\anaconda3\lib\site-packages (from bleach!=5.0.0->nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook) (0.5.1)
Requirement already satisfied: decorator in c:\users\anjum\anaconda3\lib\site-packages (from ipython>=7.23.1->ipykernel>=6.5.0->jupyterlab<4.3,>=4.2.0->notebook) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\anjum\anaconda3\lib\site-packages (from ipython>=7.23.1->ipykernel>=6.5.0->jupyterlab<4.3,>=4.2.0->notebook) (0.19.1)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\anjum\anaconda3\lib\site-packages (from ipython>=7.23.1->ipykernel>=6.5.0->jupyterlab<4.3,>=4.2.0->notebook) (3.0.43)
Requirement already satisfied: stack-data in c:\users\anjum\anaconda3\lib\site-packages (from ipython>=7.23.1->ipykernel>=6.5.0->jupyterlab<4.3,>=4.2.0->notebook) (0.2.0)
Requirement already satisfied: colorama in c:\users\anjum\anaconda3\lib\site-packages (from ipython>=7.23.1->ipykernel>=6.5.0->jupyterlab<4.3,>=4.2.0->notebook) (0.4.6)
Requirement already satisfied: fqdn in c:\users\anjum\anaconda3\lib\site-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->notebook) (1.5.1)
Requirement already satisfied: isoduration in c:\users\anjum\anaconda3\lib\site-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->notebook) (20.11.0)
Requirement already satisfied: jsonpointer>1.13 in c:\users\anjum\anaconda3\lib\site-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->notebook) (2.1)
Requirement already satisfied: uri-template in c:\users\anjum\anaconda3\lib\site-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->notebook) (1.3.0)
Requirement already satisfied: webcolors>=24.6.0 in c:\users\anjum\anaconda3\lib\site-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->notebook) (25.10.0)
Requirement already satisfied: cffi>=1.0.1 in c:\users\anjum\anaconda3\lib\site-packages (from argon2-cffi-bindings->argon2-cffi>=21.1->jupyter-server<3,>=2.4.0->notebook) (1.17.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\anjum\anaconda3\lib\site-packages (from beautifulsoup4->nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook) (2.5)
Requirement already satisfied: pycparser in c:\users\anjum\anaconda3\lib\site-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi>=21.1->jupyter-server<3,>=2.4.0->notebook) (2.21)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\anjum\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=7.23.1->ipykernel>=6.5.0->jupyterlab<4.3,>=4.2.0->notebook) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\anjum\anaconda3\lib\site-packages (from prompt-toolkit<3.1.0,>=3.0.41->ipython>=7.23.1->ipykernel>=6.5.0->jupyterlab<4.3,>=4.2.0->notebook) (0.2.5)
Requirement already satisfied: arrow>=0.15.0 in c:\users\anjum\anaconda3\lib\site-packages (from isoduration->jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->notebook) (1.2.3)
Requirement already satisfied: executing in c:\users\anjum\anaconda3\lib\site-packages (from stack-data->ipython>=7.23.1->ipykernel>=6.5.0->jupyterlab<4.3,>=4.2.0->notebook) (0.8.3)
Requirement already satisfied: asttokens in c:\users\anjum\anaconda3\lib\site-packages (from stack-data->ipython>=7.23.1->ipykernel>=6.5.0->jupyterlab<4.3,>=4.2.0->notebook) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\anjum\anaconda3\lib\site-packages (from stack-data->ipython>=7.23.1->ipykernel>=6.5.0->jupyterlab<4.3,>=4.2.0->notebook) (0.2.2)

In [28]:
from sqlalchemy import create_engine

username = "postgres"
password = "FASA1022520" 
host = "localhost"
port = "5432"
database = "customer_behavior"
engine = create_engine(f"postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}")
table_name = "customer"
df.to_sql(table_name, engine, if_exists="replace", index=False)
print(f"Data successfully loaded into table '{table_name}' in database '{database}'.")

Data successfully loaded into table 'customer' in database 'customer_behavior'.